.oper-table {
}

.tcell-checkbox {
	text-align: center;
	width: 24px;
}

.tcell-icon {
	text-align: center;
	width: 26px;
}

.tcell-cash {
	width: 12em;
}

.tcell-date {
	text-align: center;
	width: 7em;
}

.box_table-head .tcell-sum {
	text-align: center;
}

.tcell-sum {
	width: 100px;
}

.vt-sum {
	
}

.vt-sum-minus {
	color: #E02117;
}

@media ( max-width : 480px) {
	.oper-table .box_table-row:after {
		clear: both;
		content: '';
		display: table;
	}
	.box_table,
	.box_table-head,
	.box_table-row,
	.box_table-cell {
		border: none;
		display: block;
	}
	.oper-table .box_table-head {
		display: none;
	}
	.oper-table .box_table-row {
		background: #FFF;
		border-bottom: 1px solid #CED6DB;
		margin-bottom: 8px;
		padding: 2px;
		position: relative;
	}
	.oper-table .box_table-row .box_table-cell {
		float: left;
		padding: 2px;
	}
	.oper-table .box_table-row .tcell-checkbox {
		float: left;
	}
	.oper-table .box_table-row .tcell-cash {
		width: 12em;
	}
	.oper-table .box_table-row .tcell-sum {
		float: right;
		text-align: right;
	}
	.oper-table .box_table-row .tcell-date {
		float: right;
		text-align: right;
	}
	.oper-table .box_table-row .vt-sum.vt-sum-minus {
		color: #FFF;
		background-color: #E74C3D;
	}
	.oper-table .box_table-row .vt-sum {
		background-color: #446CB3;
		border-radius: 3px;
		color: white;
		padding: 1px 2px;
		vertical-align: middle;
	}
	.oper-table .view-table a {
		padding: 1px;
	}
	.oper-table .tcell-vt {
		width: 100%;
	}
}