.main-header {
	background: #fff59d url(../img/yellow_background.png) 0 0 no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 100%;
	overflow: hidden;
	position: relative;
}

.main-header .brand {
	display: inline-block;
	line-height: 60px;
	margin: 0;
}

.main-header .brand-logo {
	margin: 0 4px;
	max-height: 58px;
	vertical-align: middle;
}

.main-header .brand-title {
	font-size: 1.6em;
	margin-left: .5em;
	vertical-align: middle;
}

.main-header .nav {
	height: 60px;
	max-width: 360px;
	padding: 4px 4px 0;
	overflow: hidden;
	position: absolute;
	right: 34px;
	text-align: right;
	text-overflow: clip;
	top: 0;
}

.touch .main-header .nav {
	max-width: 260px;
}

.main-header .search {
	margin-top: 4px;
	position: relative;
	width: 100%;
}

.main-header .search .keyword {
	border: 1px solid #CCC;
	border-radius: 2px;
	padding: 4px 32px 4px 4px;
	width: 100%;
}

.main-header .search .button-submit {
	background: transparent url(/SharedResources/img/classic/loupe_blue.gif) no-repeat center;
	border: none;
	height: 100%;
	margin: 0;
	padding: 0;
	position: absolute;
	right: 5px;
	top: 0;
	width: 22px;
}

.main-header a+a {
	border-left: 1px solid #999;
	margin: 0 2px;
	padding-left: 2px;
}

a.user-profile,a.user-logout {
	color: #333;
	text-decoration: none;
	white-space: nowrap;
}

a.user-logout {
	display: none;
}

a.user-profile:hover,a.user-logout:hover {
	color: #0000EE;
}

@media ( max-width : 768px) {
	.main-header .brand-title {
		display: none;
	}
}

@media ( max-width : 480px) {
	.main-header .brand-logo {
		max-width: 32px;
	}
}